// sizes
// width
$w-3-4: 75%;
$w-full: 100%;

//height
$h-screen: 100vh;

// paddings
$p-1: 0.25rem;
$p-4: 1rem;
$p-6: 1.25rem;
$p-8: 2rem;
$p-12: 3rem;

// font-sizes
$text-s: 0.75rem;
$text-m: 0.875rem;
$text-l: 1rem;
$text-xl: 1.125rem;
$text-2xl: 1.5rem;
$text-3xl: 2rem;

// line-height
$leading-s: 1.25;
$leading-m: 1.5;

// font weight
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

// opacity
$opacity-0: 0;
$opacity-1: 1;
